.input-append input
{
  height:30px;
  padding-left:25px;
}

.alignright {
	text-align:right;
}

.aligncenter {
	text-align:center;
}

.alignleft {
	text-align:left;
}

.alignjustify {
	text-align:justify;
}

.bigspace {
	line-height: 150%;
}


.widetext {
	letter-spacing:1.1px
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

footer {
	padding-top: 15px;
	margin-top: 50px;
	background-color:#130e42;
	vertical-align: middle;
	color: #FFFFFF;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 150%;
}

.avatar {
	max-width:70%;
}

.mainpage a:link{
	color:#000000;
}

.vermiddle{
	vertical-align: middle;
}

.navbar { 
    background-color:#130e42;
}

.bigfont {
	border-radius: 6px;
	border-color: #bebebe;
	border-style: solid;
	border-width: thin;
	padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 60px;
    padding-right: 60px;    
}
.bigfont h1,
.bigfont .h1 {
	font-size: 72px;
}

.bigfont p,
.bigfont .p {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 200;
}

#topbanner {
	padding:30px 30px; 
	margin-bottom:50px; 
	background-color:#2B2655;
	color:#FFFFFF;
	letter-spacing: 1px;
}

#smallurl {
	font-size:10px;
	text-decoration: none;
}

.homeplayers {
	padding-left:30px; 
	padding-right:30px;
	text-align: center;
}

.homeplayers img {
	margin-bottom: 10px;
}